<fieldset class="border p-2">
        <legend>مشخصات فردی</legend>
    
        <div class="row">
            <div class="col">
                <div class="md-form input-group">
                    <span class="input-group-text md-addon">نام:</span>        
                    <input type="text" aria-label="First name" class="form-control" placeholder="نام">
                </div>
            </div>
            <div class="col">
                <div class="md-form input-group">
                    <span class="input-group-text md-addon">نام خانوادگی:</span>
                    <input type="text" aria-label="Last name" class="form-control" placeholder="نام خانوادگی">
                </div>
            </div>
            <div class="col">
                <div class="md-form input-group">
                    <span class="input-group-text md-addon">نام پدر:</span>
                    <input type="text" aria-label="Last name" class="form-control" placeholder="نام پدر">
                </div>
            </div>
            <div class="col">
                <div class="md-form input-group">
                    <span class="input-group-text md-addon">کد ملی:</span>
                    <input type="text" aria-label="Last name" class="form-control" placeholder="کد ملی">
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <div class="md-form input-group">
                    <span class="input-group-text md-addon">شماره شناسنامه:</span>        
                    <input type="text" aria-label="First name" class="form-control" placeholder="شماره شناسنامه">
                </div>
            </div>
            <div class="col">
                <div class="md-form input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon">شماره سریال:</span>
                    </div>
                    <select class="browser-default custom-select">
                        <option value="" disabled selected>حرف</option>
                        <option value="1">الف</option>
                        <option value="2">ب</option>
                        <option value="3">ج</option>
                    </select>
                    <input type="text" aria-label="First name" class="form-control" placeholder="شماره">
                </div>
            </div>
            <div class="col">
                <div class="md-form input-group">
                    <span class="input-group-text md-addon">نام پدر:</span>
                    <input type="text" aria-label="Last name" class="form-control" placeholder="نام پدر">
                </div>
            </div>
            <div class="col">
                <div class="md-form input-group">
                    <span class="input-group-text md-addon">کد ملی:</span>
                    <input type="text" aria-label="Last name" class="form-control" placeholder="کد ملی">
                </div>
            </div>
        </div>        
    </fieldset>
    