<div class="card card-cascade narrower z-depth-1 mb-2" id="Company">
  <div class="view view-cascade gradient-card-header card-header header-color white-text narrower py-2 mx-0 mb-3 d-flex justify-content-between align-items-center">
    <a routerlink="/province" class="white-text mx-3">مشخصات شرکت</a>
  </div>
  <div class="px-4 mb-4">
    <div class="form-group row">
      <label for="inputEmail3MD" class="col-sm-1 px-0 text-left col-form-label">نام شرکت:</label>
      <div class="col-sm-2">
        <input mdbInputDirective type="text" class="form-control" id="inputEmail3MD" placeholder="نام شرکت">
      </div>

      <label for="inputEmail3MD" class="col-sm-1 px-0 text-left col-form-label">نوع شرکت:</label>
      <div class="col-sm-2">
        <select class="browser-default custom-select">
          <option value="" disabled selected>نوع شرکت</option>
          <option value="1">الف</option>
        </select>
      </div>

      <label for="inputEmail3MD" class="col-sm-1 px-0 text-left col-form-label">نوع فعالیت شرکت:</label>
      <div class="col-sm-2">
        <select class="browser-default custom-select">
          <option value="" disabled selected>نوع فعالیت شرکت</option>
          <option value="1">الف</option>
        </select>
      </div>

      <label for="inputEmail3MD" class="col-sm-1 px-0 text-left col-form-label">شماره ثبت شرکت:</label>
      <div class="col-sm-2">
        <input mdbInputDirective type="text" class="form-control" id="inputEmail3MD" placeholder="شماره ثبت شرکت ">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail3MD" class="col-sm-1 px-0 text-left col-form-label"> تاریخ ثبت شرکت:</label>
      <div class="col-sm-2">
        <input mdbInputDirective type="text" class="form-control" id="inputEmail3MD" placeholder="..../..../.........">
      </div>

      <label for="inputEmail3MD" class="col-sm-1 px-0 text-left col-form-label">محل ثبت شرکت:</label>
      <div class="col-sm-2">
        <input mdbInputDirective type="text" class="form-control" id="inputEmail3MD" placeholder="محل ثبت شرکت ">
      </div>

      <label for="inputEmail3MD" class="col-sm-1 px-0 text-left col-form-label">شناسه ملی:</label>
      <div class="col-sm-2">
        <input mdbInputDirective type="text" class="form-control" id="inputEmail3MD" placeholder="شناسه ملی ">
      </div>

      <label for="inputEmail3MD" class="col-sm-1 px-0 text-left col-form-label">کد اقتصادی:</label>
      <div class="col-sm-2">
        <input mdbInputDirective type="text" class="form-control" id="inputEmail3MD" placeholder=" کد اقتصادی  ">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3MD" class="col-sm-1 px-0 text-left col-form-label"> نام مدیرعامل:</label>
      <div class="col-sm-2">
        <input mdbInputDirective type="text" class="form-control" id="inputEmail3MD" placeholder="نام مدیرعامل ">
      </div>

      <label for="inputEmail3MD" class="col-sm-1 px-0 text-left col-form-label">نام نماینده شرکت:</label>
      <div class="col-sm-2">
        <input mdbInputDirective type="text" class="form-control" id="inputEmail3MD" placeholder="نام نماینده شرکت ">
      </div>

      <label for="inputEmail3MD" class="col-sm-1 px-0 text-left col-form-label"> سمت نماینده:</label>
      <div class="col-sm-2">
        <input mdbInputDirective type="text" class="form-control" id="inputEmail3MD" placeholder="سمت نماینده شرکت  ">
      </div>

      <label for="inputEmail3MD" class="col-sm-1 px-0 text-left col-form-label">آدرس وب سایت:</label>
      <div class="col-sm-2">
        <input mdbInputDirective type="text" class="form-control" id="inputEmail3MD" placeholder="http://">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail3MD" class="col-sm-1 px-0 text-left col-form-label">پست الکترونیک:</label>
      <div class="col-sm-2">
        <input mdbInputDirective type="text" class="form-control" id="inputEmail3MD" placeholder="پست الکترونیک">
      </div>

      <label for="inputEmail3MD" class="col-sm-1 px-0 text-left col-form-label">شماره سهامداری:</label>
      <div class="col-sm-2">
        <input mdbInputDirective type="text" class="form-control" id="inputEmail3MD" placeholder="شماره سهامداری">
      </div>
    </div>
  </div>
</div>