<section class="mt-5">
    <div class="form-group row">
        <div class="col-sm-2  mt-2 pr-0">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="rdbPerson" name="rdbPersonType" mdbinputdirective>
                <label class="custom-control-label" for="rdbPerson">حقیقی</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="rdbLegal" name="rdbPersonType" mdbinputdirective>
                <label class="custom-control-label" for="rdbLegal">حقوقی</label>
            </div>
        </div>
    </div>
</section>

<app-customer-person></app-customer-person>
<app-customer-company></app-customer-company>
<app-customer-contactInfo></app-customer-contactInfo>